:root {
    --footer-date: "05/09/2025";
}

footer::after {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
    content: "Last updated: " var(--footer-date);
    font-family: Candara, sans-serif;
    color:#223a5a;
    font-size: 16px;
  }

body {
    background-color: #ffffff;
    margin: 0;
}

h1 {
    color: #223a5a;
    text-align: center;
    /*text-transform: uppercase;*/
    font-family: Candara, sans-serif;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 5px;
    /* font-style: oblique */
}

h2 {
    font-family: Candara, sans-serif;
    font-size: 20px;
    text-align: left;
    color:#7a8697;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style:italic;
}

h3 {
    font-family: Candara, sans-serif;
    font-size: 16px;
    color:#223a5a;
    margin-right: 10px;
}

p {
    font-family: Candara, sans-serif;
    position: relative;
    text-align: center;
    color: #223a5a;
}

#name {
    text-align: left;
    font-size: 28px;
    margin: 0px;
    margin-bottom: 10px;
}

/* for holding main menu buttons */
.container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#contact-info, #summary-text, #exp-header {
    justify-content: flex-start;
    text-align: left;
    margin: 0px;
}

#exp-header {
    justify-content: space-between;
}

#summary-text {
    font-size: 18px;
}

/* LINKS */
a {
    color:#223a5a;
    transition-duration: 0.4s;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#resume-link:hover, #resume-link:active {
    text-decoration: underline;
}

/* DROPDOWN */
.menu {
    list-style: none;
    background: #ffffff;
    color:#223a5a;
    font-family: Candara, sans-serif;
    padding-left: 0px;
}

.menu li {
    display: block;
    position: relative;
    line-height: 21px;
    text-align: left;
}

.menu li a {
    display: block;
    padding: 16px;
    color: #223a5a;
    text-decoration: none;
}

.menu li a:hover {
    color: #223a5a;
    background: #d2cac5;
}

.menu li ul.dropdown {
    width: 100%;
    padding: 0px;
    background: #ffffff;
    display: none;
    position: absolute;
    z-index: 1;
}

.menu li:hover ul.dropdown {
    display: block;
    /* Display the dropdown */
}

.list {
    padding-left: 16px;
    margin-bottom: 0px;
}

/* BUTTONS */
.btn {
    background-color: #ffffff;
    color: #334257;
    padding: 16px;
    font-size: 16px;
    font-family: Candara, sans-serif;
    border: none;
    cursor: pointer;
    text-align: center;
    float: left;
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: #d2cac5;
}

/* BANNER IMAGE */
.banner-img {
    /* Set a specific height */
    height: 300px;
    width: auto;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#about-me {
    /* Use "linear-gradient" to add a darken background effect to the image, makes the text easier to read */
    background-image: radial-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.00)), url("../img/about-banner.jpg");
    filter: hue-rotate(-15deg);
}
#resume-banner {
    /* Use "linear-gradient" to add a darken background effect to the image, makes the text easier to read */
    background-image: radial-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.00)), url("../img/solar-system.jpg");
}
#math-banner {
    /* Use "linear-gradient" to add a darken background effect to the image, makes the text easier to read */
    background-image: radial-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.00)), url("../img/math-banner.jpg");
    background-size: cover;
}
#prog-banner {
    /* Use "linear-gradient" to add a darken background effect to the image, makes the text easier to read */
    background-image: radial-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.00)), url("../img/prog-banner.jpg");
    filter: hue-rotate(150deg);
}
#outdoor-banner {
    /* Use "linear-gradient" to add a darken background effect to the image, makes the text easier to read */
    background-image: radial-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.00)), url("../img/outdoor-banner.jpg");
    filter: saturate(2) sepia(0.2) contrast(140%);
}
  
/* Place text in the middle of the image */
.banner-txt {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Candara, sans-serif;
    font-size: 40px;
    color: #ffffff;
    font-style: oblique
}

/*ABOUTME SECTION*/
/* container*/
.flex-container {
    display: flex;
    height: auto;
    width: auto;
    padding: 20px;
    margin-top: 20px;
    flex-direction: row;
    justify-content: center;
}

/* selfie image */
.selfie-img {
    height: 450px;
    width:auto;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* holds my paragraphs of data, blog-post style */
.parbox {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-top: 50px;
    margin-right: 5%;
    
    font-family: Candara, sans-serif;
    font-size: 16px;
    text-align: left;
    color:#223a5a
}

#resume-body {
    position: relative;
    margin: auto;
    width: 80%;
    margin-bottom: 100px;
    align-items: initial;
}

